.plans-container {
  padding: 23px 1.75%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}
.plans-container .plans-blur-1 {
  height: 23rem;
  left: 0;
  top: 6rem;
  width: 32rem;
}
.plans-container .plans-blur-2 {
  height: 23rem;
  left: 66%;
  top: 11rem;
  width: 32rem;
}
.plans-container .blur {
  background: rgba(253, 120, 43, 0.69);
  border-radius: 50%;
  position: absolute;
  z-index: -9;
}
.plans-container .programs-header {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}
.plans-container .programs-header span:nth-child(2) {
  font-size: 48px;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.plans-container .plans {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.plans-container .plans div:nth-child(2) button {
  color: orange;
}
.plans-container .plans .plan {
  display: flex;
  flex-direction: column;
  background-color: #656565;
  color: white;
  gap: 2rem;
  padding: 1.5rem;
  width: 19rem;
}
.plans-container .plans .plan span {
  font-family: "Open Sans", sans-serif;
}
.plans-container .plans .plan .more-benefit {
  display: flex;
  align-items: center;
}
.plans-container .plans .plan .more-benefit svg {
  width: 1.2rem;
  height: 2rem;
  padding-left: 4px;
  fill: white;
}
.plans-container .plans .plan:nth-child(2) {
  background: linear-gradient(210.41deg, rgb(250, 80, 66) 1.14%, rgb(255, 167, 57) 100.75%);
  transform: scale(1.1);
  font-size: 1rem;
  font-weight: bold;
}
.plans-container .plans .plan svg {
  fill: orange;
  width: 2rem;
  height: 2rem;
}
.plans-container .plans .plan span:nth-child(3) {
  font-size: 3rem;
  font-weight: 700;
}
.plans-container .plans .plan span:nth-child(1) {
  font-family: "Open Sans", sans- serif;
}
.plans-container .plans .feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.plans-container .plans .feature span {
  font-family: "Open Sans", sans-serif;
}
.plans-container .plans .feature img {
  width: 1rem;
}

@media screen and (max-width: 768px) {
  .plans-container {
    padding: 23px 4.85%;
  }
  .plans-container .programs-header {
    display: flex !important;
    flex-direction: column;
    text-align: center;
  }
  .plans-container .programs-header span {
    font-size: 24px !important;
    padding-right: 0;
  }
  .plans-container .plans {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 992px) {
  .plans-container {
    padding: 23px 4.85%;
  }
  .plans-container .programs-header {
    gap: 5rem;
  }
  .plans-container .programs-header span {
    font-size: 24px !important;
    padding-right: 0;
  }
}
@media screen and (max-width: 1200px) {
  .plans-container {
    padding: 23px 4.85%;
  }
  .plans-container .programs-header {
    gap: 5rem;
  }
  .plans-container .programs-header span {
    font-size: 30px !important;
    padding-right: 0;
  }
}/*# sourceMappingURL=Plans.css.map */