.hero {
  display: flex;
  justify-content: space-between;
  padding: 23px 1.75%;
}
.hero .hero-blur {
  height: 30rem;
  left: 0;
  width: 22rem;
  background: rgba(253, 120, 43, 0.69);
  border-radius: 50%;
  filter: blur(150px);
  position: absolute;
  z-index: -9;
}
.hero .left-h {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 3;
}
.hero .left-h div:nth-child(6) {
  display: none;
}
.hero .right-h {
  flex: 1;
  position: relative;
  margin-top: -23px;
  font-family: "Open Sans", sans-serif;
}
.hero .right-h .bg-color {
  background-color: orange;
  position: absolute;
  left: 7%;
  top: 0%;
  width: 100%;
  height: 701px;
}
.hero .right-h .btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  color: black;
}
.hero .right-h .heart-rate {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #464d53;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  align-items: start;
  border-radius: 5px;
  position: absolute;
  right: 4rem;
  top: 7rem;
}
.hero .right-h .heart-rate img {
  width: 2rem;
}
.hero .right-h .heart-rate span:nth-child(2) {
  color: grey;
}
.hero .right-h .heart-rate span:nth-child(3) {
  color: white;
  font-size: 1.5rem;
}
.hero .right-h .hero-image {
  position: absolute;
  top: 10rem;
  right: 8rem;
  width: 23rem;
}
.hero .right-h .hero-image-back {
  position: absolute;
  right: 20rem;
  top: 4rem;
  width: 15rem;
  z-index: -1;
}
.hero .right-h .calories {
  display: flex;
  gap: 2rem;
  background-color: #656565;
  border-radius: 5px;
  padding: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 32rem;
  right: 28rem;
}
.hero .right-h .calories img {
  width: 3rem;
}
.hero .right-h .calories div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero .right-h .calories div span:nth-child(1) {
  color: grey;
}
.hero .right-h .calories div span:nth-child(2) {
  color: white;
  font-size: 1.5rem;
}
.hero .the-best-ad {
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 13px;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero .the-best-ad div {
  position: absolute;
  background-color: orange;
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
}
.hero .the-best-ad span {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  text-overflow: inherit;
}
.hero .hero-text div:nth-of-type(3) {
  font-size: 1rem;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 1px;
  width: 80%;
}
.hero .hero-text span {
  font-family: "Open Sans", sans-serif;
}
.hero .figures {
  display: flex;
  gap: 2rem;
}
.hero .figures div {
  display: flex;
  flex-direction: column;
}
.hero .figures div span {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}
.hero .figures div span:nth-of-type(1) {
  color: white;
  font-size: 2rem;
}
.hero .figures div span:nth-of-type(2) {
  color: grey;
  text-transform: #9c9c9c;
}
.hero .hero-buttons {
  display: flex;
  gap: 1rem;
}
.hero .hero-buttons button:nth-child(1) {
  color: white;
  background-color: orange;
  width: 8rem;
}
.hero .hero-buttons button:nth-child(2) {
  color: white;
  background-color: transparent;
  width: 8rem;
  border: 2px solid orange;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 23px 4.85%;
    display: block;
  }
  .hero .left-h {
    gap: 0;
    flex: 3 1;
  }
  .hero .left-h div:nth-child(6) {
    display: block;
  }
  .hero .header-main {
    display: none;
  }
  .hero .hero-buttons {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
  .hero .hero-text {
    gap: 0;
    text-align: center;
  }
  .hero .hero-text div {
    margin-left: auto;
    margin-right: auto;
  }
  .hero .hero-text div:nth-child(3) span {
    text-align: center;
    font-size: 13px !important;
  }
  .hero .hero-text div span {
    font-size: 32px;
  }
  .hero .the-best-ad {
    align-self: center;
    font-size: small;
    padding: 15px 13px;
    margin-top: 2.7rem;
  }
  .hero .the-best-ad div {
    width: 4.1rem;
  }
  .hero .figures {
    gap: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
  .hero .bg-color {
    display: none;
  }
  .hero .right-h {
    position: relative;
    flex: 1 1;
  }
  .hero .right-h .btn {
    display: none;
  }
  .hero .right-h .heart-rate {
    left: 1rem;
    top: 2rem;
  }
  .hero .right-h .hero-image {
    left: 7rem;
    position: relative;
    top: 4rem;
    width: 15rem;
  }
  .hero .right-h .hero-image-back {
    left: 2rem;
    top: 0;
    width: 15rem;
  }
  .hero .right-h .calories {
    width: 218px;
    left: 2rem;
    position: relative;
    top: 5rem;
  }
  .hero .right-h .calories img {
    width: 2rem;
  }
}
@media screen and (max-width: 992px) {
  .hero {
    padding: 23px 4.85%;
    display: block;
  }
  .hero .left-h {
    gap: 0;
    flex: 3 1;
  }
  .hero .left-h div:nth-child(6) {
    display: block;
  }
  .hero .header-main {
    display: none;
  }
  .hero .hero-buttons {
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
  .hero .hero-text {
    gap: 0;
    text-align: center;
  }
  .hero .hero-text div {
    margin-left: auto;
    margin-right: auto;
  }
  .hero .hero-text div:nth-child(3) span {
    text-align: center;
    font-size: 13px !important;
  }
  .hero .hero-text div span {
    font-size: 32px;
  }
  .hero .the-best-ad {
    align-self: center;
    font-size: small;
    padding: 15px 13px;
    margin-top: 2.7rem;
  }
  .hero .the-best-ad div {
    width: 4.1rem;
  }
  .hero .figures {
    gap: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
  }
  .hero .bg-color {
    display: none;
  }
  .hero .right-h {
    position: relative;
    flex: 1 1;
  }
  .hero .right-h .btn {
    display: none;
  }
  .hero .right-h .heart-rate {
    left: 1rem;
    top: 2rem;
  }
  .hero .right-h .hero-image {
    left: 7rem;
    position: relative;
    top: 4rem;
    width: 16rem;
  }
  .hero .right-h .hero-image-back {
    left: 2rem;
    top: 0;
    width: 15rem;
  }
  .hero .right-h .calories {
    width: 218px;
    left: 2rem;
    position: relative;
    top: 5rem;
  }
  .hero .right-h .calories img {
    width: 2rem;
  }
}/*# sourceMappingURL=Hero.css.map */