.Testimonials {
  display: flex;
  gap: 1rem;
  padding: 123px 1.75%;
}
.Testimonials .left-t {
  display: flex;
  flex: 1;
  gap: 2rem;
  flex-direction: column;
  text-transform: uppercase;
  color: white;
}
.Testimonials .left-t span {
  font-family: "Open Sans", sans-serif;
}
.Testimonials .left-t span:nth-child(1) {
  color: orange;
  font-weight: bold;
}
.Testimonials .left-t span:nth-child(2), .Testimonials .left-t span:nth-child(3) {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}
.Testimonials .left-t span:nth-child(4) {
  text-transform: none;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}
.Testimonials .right-t {
  flex: 1;
  position: relative;
}
.Testimonials .right-t div:nth-child(1) {
  position: absolute;
  width: 17rem;
  height: 20.15rem;
  border: 2px solid orange;
  background-color: transparent;
  right: 9rem;
  top: 2.9rem;
}
.Testimonials .right-t div:nth-child(2) {
  position: absolute;
  width: 17rem;
  height: 19rem;
  top: 6rem;
  left: 26rem;
  background: linear-gradient(210.41deg, rgb(250, 80, 66) 1.14%, rgb(255, 167, 57) 100.75%);
}
.Testimonials .right-t img {
  position: absolute;
  width: 17rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  right: 7rem;
  top: 4rem;
}
.Testimonials .right-t .arrows {
  display: flex;
  gap: 1rem;
  position: absolute;
  bottom: 1rem;
  left: 3rem;
}
.Testimonials .right-t .arrows svg {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Testimonials {
    padding: 23px 4.85% !important;
    flex-direction: column;
  }
  .Testimonials .left-t span {
    font-size: 32px !important;
    padding-right: 0;
  }
  .Testimonials .left-t span:nth-child(4) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) span {
    font-size: 16px !important;
  }
  .Testimonials .right-t {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .Testimonials .right-t div:nth-child(1) {
    display: none;
  }
  .Testimonials .right-t div:nth-child(2) {
    display: none;
  }
  .Testimonials .right-t .arrows {
    left: auto;
    top: -2.4rem;
    right: 1rem;
  }
  .Testimonials .right-t img {
    align-self: center;
    position: relative;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 992px) {
  .Testimonials {
    padding: 23px 4.85% !important;
    flex-direction: column;
  }
  .Testimonials .left-t span {
    font-size: 32px !important;
    padding-right: 0;
  }
  .Testimonials .left-t span:nth-child(4) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) span {
    font-size: 16px !important;
  }
  .Testimonials .right-t {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .Testimonials .right-t div:nth-child(1) {
    left: 33%;
    top: 0.9rem;
  }
  .Testimonials .right-t div:nth-child(2) {
    left: 36.8%;
    bottom: auto;
    margin-top: -32px;
  }
  .Testimonials .right-t .arrows {
    left: auto;
    top: -2.4rem;
    right: 1rem;
  }
  .Testimonials .right-t img {
    align-self: center;
    position: relative;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 1200px) {
  .Testimonials {
    padding: 23px 4.85% !important;
  }
  .Testimonials .left-t span {
    font-size: 32px !important;
    padding-right: 0;
  }
  .Testimonials .left-t span:nth-child(4) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) {
    font-size: 16px !important;
  }
  .Testimonials .left-t span:nth-child(5) span {
    font-size: 16px !important;
  }
  .Testimonials .right-t {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .Testimonials .right-t div:nth-child(1) {
    left: 29.2%;
    top: 2.2rem;
  }
  .Testimonials .right-t div:nth-child(2) {
    left: 35.8%;
    bottom: auto;
    top: 5.2rem;
  }
  .Testimonials .right-t .arrows {
    bottom: -0.2rem;
    left: -5rem;
  }
  .Testimonials .right-t img {
    align-self: center;
    position: relative;
    right: -46px;
    top: 0;
  }
}/*# sourceMappingURL=Testimonials.css.map */